.btn {
    min-width: 120px;
    color: #fff;
    font-size: $font-size-regular-bigger;
    padding: $button-padding;
    background: $gradientBlueLight;
    border-radius: $button-radius;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mediaMobile {
        border-radius: $button-radius * 2;
        width: 100%;
    }

}

@mixin link-arrow( $color: #fff ) {
    display: flex;
    align-items: center;
    color: $color;
    transition: all .3s ease;

    svg {
        transition: all .3s ease;
        fill: $color;
        width: 16px;
        height: 16px;
        margin-left: .5em;
    }
    &:hover {
        color: $pink-hover;
        svg {
            fill: $pink-hover;
        }
    }
}
.link-arrow {
    @include link-arrow;
}