@mixin iconBurger($color) {
    span {
        transition-timing-function: cubic-bezier(.55,.055,.675,.19);
        transition-duration: .1s;
        top: 50%;
        transform: translateY(-50%);
        &,
        &:after,
        &:before {
            position: absolute;
            width: 100%;
            height: $burger-line;
            background: $color;

            transition-timing-function: ease;
            transition-duration: .15s;
            transition-property: transform;
        }
        &:after,
        &:before {
            content: '';
        }
        &:before {
            top: calc( (2.5 * #{$burger-line} + #{$burger-line}) * -1 );
            transition: top .5s;
        }
        &:after {
            bottom: calc( (2.5 * #{$burger-line} + #{$burger-line}) * -1);
            transition: bottom .5s;
        }
    }
    .menu-opened & {
        span {
            transition-delay: .14s;
            transition-timing-function: cubic-bezier(.215,.61,.355,1);
            transform: rotate(45deg);
            &:before {
                top: 0;
                transition: top .1s ease,opacity .1s .14s ease;
                opacity: 0;
            }
            &:after {
                bottom: 0;
                transition: bottom .1s ease,transform .1s .14s cubic-bezier(.215,.61,.355,1);
                transform: rotate(-90deg);
            }
        }
    }

}