$breakpoint-mobile:             599px;
$breakpoint-tablet:             768px;
$breakpoint-tv:                 1600px;
$breakpoint-page-container: $max-width + $max-width * ($page-margin-container * 2)/100%;

$mobile: "screen and (max-width: #{$breakpoint-mobile})";
$aboveMobilePortrait: "screen and (min-width: #{$breakpoint-mobile})";
$tabletPortrait: "screen and (max-width: #{$breakpoint-tablet})";
$aboveTabletPortrait: "screen and (min-width: #{$breakpoint-tablet})";
$tv: "screen and (min-width: #{$breakpoint-tv})";
$abovePageContainer: "screen and (min-width: #{$breakpoint-page-container})";

@mixin mediaMobile() {
    @media #{$mobile} {
        @content;
    }
}

@mixin mediaAboveMobile() {
    @media #{$aboveMobilePortrait} {
        @content;
    }
}

@mixin mediaTablet() {
    @media #{$tabletPortrait} {
        @content;
    }
}

@mixin mediaAboveTablet() {
    @media #{$aboveTabletPortrait} {
        @content;
    }
}

@mixin mediaTv() {
    @media #{$tv} {
        @content;
    }
}

@mixin mediaAbovePageContainer() {
    @media #{$abovePageContainer} {
        @content;
    }
}