@mixin bubble($w, $color1, $color2) {
    width: $w;
    height: $w;
    background-image: linear-gradient(to bottom, $color1, $color2);
    &:after {
        width: calc(#{$w - $w/6});
        height: calc(#{$w - $w/6});
        background-image: linear-gradient(to bottom, $color1, $color2);
    }
}

$bubble-big: 410px;
$bubble-medium: 373px;
$bubble-small: 192px;
$bubble-little: 174px;

$pink1: #f14689;
$pink2: #f35089;
$pink3: #e61099;
$violet1: #b330c9;
$violet2: #d400ff;
$blue1: #1a7ede;
$blue2: #28c8ff;
$blue3: #4e65f7;

.bubbles {
    position: absolute;
    pointer-events: none;
    z-index: 1;
    transition: all .3s ease;
    .bubble {
        border-radius: 50%;
        position: absolute;
        &:after {
            content: '';
            position: absolute;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -35%);
            opacity: 0.5;
            filter: blur(20px);
        }
    }
    &.bubbles-1 {
        top: 0;
        right: 0;
        width: $bubble-medium;
        height: $bubble-medium;
        transform: translate(30%, -80%);
        .small {
            @include bubble($bubble-small, $pink1, $pink2);
            top: 0;
            left: -50px;
        }
        .big {
            @include bubble($bubble-medium, $violet1, $pink3);
            top: 30px;
            right: 0;
        }
    }
    &.bubbles-2 {
        bottom: 0;
        left: 0;
        width: $bubble-big;
        height: $bubble-big;
        transform: translate(-45%, 70%);
        .small {
            @include bubble($bubble-little, $blue1, $blue2);
            bottom: 20px;
            right: -50px;
        }
        .big {
            @include bubble($bubble-big, $blue3, $violet2);
            top: 0;
            left: 0;
        }

    }
    &.bubbles-3 {
        top: 0;
        right: 0;
        width: $bubble-medium;
        height: $bubble-medium;
        transform: translate(40%, -35%);
        .small {
            @include bubble($bubble-small, $pink1, $pink2);
            bottom: -20px;
            left: -50px;
        }
        .big {
            @include bubble($bubble-medium, $violet1, $pink3);
            top: 0;
            right: 0;
        }
    }

    @include mediaMobile {
        display: none;
    }
}