.cookies {

	position: fixed;
    bottom: 0;
    background: white;
    z-index: 10;
	padding: $body-offset / 4 0;
	@include mediaMobile {
        padding: $body-offset / 8 0;
    }

    .more {
    	color: $pink-hover;
    }

    .accept {
	    display: inline-block;
    	text-align: center;
	    padding: .2em .8em;
	    min-width: auto;
    } 

}
