.footer {

	@include purple-gradient;
	@include fontWhite;
	padding-bottom: 0;
    flex-grow: 1;

	.logo, .conference-info, .social-list {
		margin-bottom: 1em;
		line-height: 1.3;
	}

	.social {
		margin-right: calc(2 * #{$column-gap});
	    @include mediaMobile {
	    	margin-right: calc(2 * #{$column-gap-mobile});
	    }
	}

	.social-list {
		display: flex;
	}

	.social-image {
	    width: auto;
	    height: 1em;
	}

	.nav-menu__item {
		margin-bottom: .5em;
	}

	.contact-email {
		font-weight: $font-weight-medium;
		color: $blue;
	}

	.menu {
		padding-left: calc(25% + #{$column-gap});
		margin-top: calc(#{$header-height} * .7 - 1em);
		@include fontMediumSmall;
		@include mediaMobile {
	    	padding-left: 0;
	    }
	}

	.copyrights-footer {
		border-top: 1px solid $separatorColor;
		margin-top: $page-margin;
		padding: calc(#{$column-gap} * 2) 0;
		display: flex;
		justify-content: space-between;
		@include mediaMobile {
	    	padding: calc(#{$column-gap-mobile} * 2) 0;
	    	flex-direction: column;
	    }
	}

	.heart {
		display: inline-block;
		width: 20px;
		height: 1em;
		position: relative;
		svg {
			position: absolute;
			top: 0;
			fill: $pink-hover;
		}
	}

}

