.header-main {
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 0;
    padding: $body-offset 0;
    @include fontRegularBigger;
    color: #fff;
    transition: all .5s;
    &.before-scrolled {
        transform: translateY(-100%);
    }
    &.is-scrolled {
        position: fixed;
        background: $purple_alpha;
        transform: none;
    }
    @include mediaMobile {
        padding: $body-offset / 2 0;
    }

    // .page & {
    //     background: $purple_alpha;
    // }
}

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
