.intro {
    min-height: $header-height + $body-offset * 2;
    @include image-cover;
    @include fontWhite;
    @include mediaMobile {
        min-height: $header-height-mobile + $body-offset;
    }

}