.logo {
    display: block;
    height: $header-height;
    @include mediaMobile {
        height: $header-height-mobile;
    }
    svg {
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        fill: #fff;
    }
}
