.menu-main {
	margin-left: auto;
	.burger {
		cursor: pointer;
		display: none;
		font-size: $font-size-medium-small;

		@include mediaTablet {
			display: inline-block;
		}
	}
	.burger-icon {
		width: 18px;
		height: 16px;
		transition: all .5s;
		display: inline-block;
		position: relative;
		margin-left: 1em;

		@include iconBurger(#fff);
	}

	.menu {
		display: inline-block;
	    z-index: -1;
		@include mediaTablet {
			position: absolute;
			top: 100%;
			right: 0;
		    width: 100%;
    		height: calc(100vh - #{$header-height-mobile});
    		padding: 0 $page-margin;
			text-align: right;
			background: $purple_alpha;
			transform: translateX(100%);
			transition: all .3s ease;
		    text-align: center;
		    padding: 2em $body-offset calc(2em + #{$page-margin});
		    .menu-item {
		    	line-height: 2.5;
		    }
		    &:before {
		    	content: "";
		    	background: $purple_alpha;
		    	position: absolute;
		    	top: calc(-1 * #{$header-height-mobile} - #{$body-offset});
		    	left: 0;
		    	width: 100%;
		    	height: calc(#{$header-height-mobile} + #{$body-offset});
		    }
		}

		li {
			margin: 0 $column-gap;
			display: inline-block;

			@include mediaTablet {
				width: 100%;
				padding: $column-gap;
			}

		}
	}

	.menu-buttons {
		li:last-of-type {
			margin-right: 0;
		}
	}

	.menu-opened & {
		.menu {
			transform: translateX(0%);
		}
	}
}

.menu:not(.menu-buttons) {
	a {
		transition: all .3s ease;
		&:hover {
			color: $pink-hover;
		}
	}
}