.product {
    @include purple-gradient;
    @include fontWhite;
    width: calc(33.333% - #{($column-gap * 4) / 3});
    padding: 0;
    text-align: center;
    position: relative;

    &:nth-of-type(2) {
        @include box-shadow(rgba(215, 25, 167, 0.5));
        @include mediaTablet {
            margin-top: calc( #{$column-gap-mobile * 2} + #{$header-height-mobile});
        }
    }

    @include mediaTablet {
        width: 100%;

        &:last-of-type {
            margin-top: $column-gap-mobile * 2;
        }
    }

    .product-content {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .ticket-type {
        padding: $column-gap * 2 $page-margin;
        flex: 1;
        @include mediaTablet {
            padding: $page-margin;
        }
    }
    .benefits {
        padding: 1.5em $column-gap * 2;
        text-align: left;
        border-top: 1px solid $separatorColor;
        position: relative;
        @include fontRegularBiggerUppercase;
        cursor: pointer;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: $column-gap * 2;
            width: $chevron-width;
            height: $chevron-width;
            border: 1px solid #fff;
            border-width: 0 1px 1px 0px;
            transform: rotate(45deg) translate(-50%, -50%);
        }
        @include mediaTablet {
            padding: 1.5em $column-gap-mobile * 2;
            &:after {
                right: $column-gap-mobile * 2;
            }
        }
    }

    .price {
        @include fontLarge;
    }
    .btn {
        max-width: 170px;
        margin: 0 auto;
    }
    .ticket-description {
        margin: 1em 0 1.5em;
    }

    .added_to_cart {
        color: $pink-hover;
    }
    .product-flag {
        @include fontRegularBiggerUppercase;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: .5em;
        text-align: center;
        transform: translateY(-100%);
        background: linear-gradient(270deg, #B330C9 0%, #E61099 100%);
    }

    .benefits-content {
        background: $gradientPink;
        position: absolute;
        top: 100%;
        left: 0;
        overflow: hidden;
        height: 0;
        width: 100%;
        z-index: 10;
        .content-inner {
            padding: $column-gap * 2;
            text-align: center;
            position: relative;
            z-index: 1;
            ul {
                margin: 0;
            }
            li,
            p {
                padding: .5em 0;
            }

            @include mediaTablet {
                padding: $column-gap-mobile * 2;
            }
        }
    }

    &.active {
        .benefits:after {
            transform: rotate(-135deg) translate(0%, 0%)
        }
        .benefits-content {
            height: auto;
        }
    }
}