.partners-logos, .six-reasons-tiles {
	display: flex;
    flex-direction: row;
    clear: both;
    flex-wrap: wrap;
    &:after {
    	content: '';
	    display: table;
	    clear: both;
    }
}


.partner-link, .six-reasons-tile {
	border: $chainges-border;
	width: calc(100%/6 - 2 * #{$column-gap});
	position: relative;
	margin: 0 $column-gap calc(2 * #{$column-gap});
	@include mediaTablet {
		width: calc(25% - 2 * #{$column-gap});
    }
    @include mediaMobile {
    	width: calc(50% - 2 * #{$column-gap-mobile});
        margin: 0 $column-gap-mobile calc(2 * #{$column-gap-mobile});
    }
}	

.six-tiles-description {
	margin-bottom: $page-margin;
}

@include mediaMobile {
	.six-tiles-title{
	    margin: $page-margin 0;
	}
}
