{% extends "base.twig" %}

{% block header %}

	 {% include "partials/headers/header-main.twig" %}

{% endblock %}
{% block intro %}

	<section class="intro" style="background-image: url( {{ landing_content.landing_image }} )"></section>

{% endblock %}
{% block content %}

    {% include "partials/woocommerce/archive.twig" %}
    {% include "partials/front-page/links.twig" %}
	{% include "partials/front-page/six_reasons.twig" %}

{% endblock %}
