.about {
    .img-mist {
        width: 100%;
        padding-top: 100%;
        @include image-cover;
        position: relative;
        .img-mist-inner {
            position: absolute;
            top: 15%;
            left: 5%;
            width: 90%;
            height: 90%;
            background-size: 200% 80%;
            background-position: center bottom;
            background-repeat: no-repeat;
            filter: blur(30px);
            z-index: -1;
            opacity: .5;
        }
        @include mediaMobile {
            display: none;
        }
    }

    .chainges-section-title {
        background: #fff;
        margin: $page-margin 0 $page-margin #{-$page-margin * 2};
        padding: $column-gap;
        position: relative;

        @include mediaMobile {
            margin: $page-margin 0;
        }
    }

    .about-description {
        margin-left: $page-margin;
        @include fontMedium($navy);
        @include mediaMobile {
            margin: 0;
        }
    }

}