.landing {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100vh;
	color: white;
	@include mediaMobile {
		padding-top: $menu-height-mobile;
		height: auto;
		min-height: 100vh;
	}

	&.video-player {
		@include image-cover;
		&:before {
        	content: "";
        	position: absolute;
        	width: calc((100% - #{$page-margin} * 2)/4 + #{$column-gap} + #{$page-margin});
        	min-width: 100%;
        	height: 100%;
        	@include purple-apla;
        	animation: slide-out .5s 2s forwards;
        	@include mediaMobile {
        		width: 0;
        		min-width: 0;
        		animation: none;
        	}
        }
	}

	.video {

		width: 100%;
		height: 100%;
		opacity: 0;
		transition: .25s opacity;
		pointer-events: none;
		&.is-playing {
			opacity: 1;
		}
		&.wide {
            width: 100%;
            height: auto;
        }

        &.high {
            height: 100%;
            width: auto;
        }

        @include centerXY;
	}

	.event-details {
		@include fontMedium($color: white);
		margin-top: 2em;
		margin-bottom: 1em;
		@include mediaMobile {
			margin-bottom: 2em;
		}
	}


	.page-title {
		max-width: 75%;
		margin-bottom: .8em;
		@include mediaMobile {
			margin-bottom: 1.6em;
		}
	}

	.content {
		z-index: 1;
		display: flex;
	    flex-direction: column;
	    justify-content: center;
	}

	.content-inner {
		transition: all .3s ease;
	}

	.play-button {
		padding: $button-padding;
		@include fontRegularBigger;
		@include mediaMobile {
			width: auto;
		}
	}

	.play-video {
		position: relative;
		padding-left: 1.75em;
		&:before {
			content: "";
			position: absolute;
		    left: 0;
    		top: 0;
			width: 1em;
			height: 1em;
			background-image: url(../images/play-circle-outline.svg);
			background-repeat: no-repeat;
			background-size: 100%;
		}
	}

	@include mediaMobile {
		.content-inner {
			nav {
				width: 100%;
				margin-bottom: 2em;
			}
		}
	}


}
