.links {
    @include purple-gradient;
    .link-tiles {
        display: flex;
        flex-wrap: wrap;
    }
    .link-tile {
        @include fontWhite;
        padding: 4em $page-margin / 2 4.25em;
        border-right: 1px solid $separatorColor;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &:last-of-type {
            border-right: none;
        }

        @include mediaTablet {
            border-top: 1px solid $separatorColor;
            padding: $page-margin * 2 $page-margin;
            &:nth-of-type(even) {
                border-right: none;
            }
        }
        @include mediaMobile {
            border-right: none;
        }
    }

    .link-tile-title {
        @include fontMediumBold;
        margin-bottom: .5em;
    }
    .tile-description {
        margin-bottom: auto;
    }
    .tile-link {
        margin-top: 1.5em;
        @include fontMediumSmall;
    }
}