.partners {

	.partner-logo {
		@include centerXY;
	}

	.partner-link{
		padding-top: calc(100%/6 - 2 * #{$column-gap});
		@include mediaTablet {
	    	padding-top: calc(25% - 2 * #{$column-gap});
	    }
	    @include mediaMobile {
	        padding-top: calc(50% - 2 * #{$column-gap-mobile});
	    }
	}

	.partner-logo {
		width: calc(100% - 2 * #{$column-gap});
		@include mediaMobile {
	        width: calc(100% - 2 * #{$column-gap-mobile});
	    }
	}

}
