.six-reasons {

	.six-tiles-title {
		margin-bottom: 1em;
	}

	.six-reasons-tile {
		display: flex;
	    flex-direction: column;
	    align-items: center;
	    padding: calc(2 * #{$column-gap});
	    padding-bottom: 0;
	    @include mediaMobile {
	    	padding: calc(2 * #{$column-gap-mobile});
	    	padding-bottom: 0;
	    }
	}

	.six-reasons-image {
	    max-width: 100%;
	    width: auto;
	    height: 50%;
		margin-bottom: $column-gap;
		@include mediaMobile {
	    	margin-bottom: $column-gap-mobile;
	    }
	}

	.six-reasons-tile-title {
		text-align: center;
		line-height: 1.3;
		margin-bottom: $column-gap;
		@include fontMediumSmall;
		@include mediaMobile {
	    	margin-bottom: $column-gap-mobile;
	    }
	}

	.six-reasons-tile-link {
		color: $blue;
	}
	
}
