.speakers {
    @include purple-gradient;
    @include fontWhite;
    .chainges-section-title {
        @include fontWhite;
    }
    .speakers-list {
        margin-top: $page-margin;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        float: left;
        .col {
            padding-bottom: $column-gap;
            padding-top: $column-gap;
        }
    }
    .speaker-tile {
        display: flex;
        align-items: center;
        height: 100%;
        padding: $column-gap * 2 $column-gap;
        flex-direction: column;
        text-align: center;
        border: 1px solid $separatorColor;
        background-color: rgba($purpleLight, .3);
        @include box-shadow( rgba(#000, .3) );

        .speaker-image {
            margin: $column-gap;
            width: 50%;
            border-radius: 50%;
            display: block;
            padding-top: 50%;
            @include image-cover;
        }
        .speaker-name {
            @include fontMediumSmallBold;
            @include fontWhite;
            margin-top: .5em;
        }
        .speaker-info {
            margin-top: .5em;
            @include fontUppercase;
        }

    }
}