.testimonials {
    .chainges-section-description,
    .testimonials-button {
        margin-top: $page-margin;
        margin-bottom: $page-margin;
    }

    .swiper-container {
        clear: both;
        padding-top: $page-margin * 1;
        .swiper-slide {
            height: auto;
            width: calc(50% - #{$column-gap * 2});
            margin-left: $column-gap;
            margin-right: $column-gap;
            position: relative;
            transition: all .5s linear;
            @include mediaMobile {
                width: 80%;
            }

            &.swiper-slide-active {
                transform: translateY( $column-gap * -2 );
                .testimonial-content,
                .testimonial-image {
                    @include box-shadow(rgba(13,8,94,0.2));
                }
                .testimonial-content {
                    margin-bottom: $column-gap * 2 + $page-margin;
                }
            }

            .slide-content {
                text-align: center;
                pointer-events: none;
            }
        }
    }
    .testimonial-content,
    .testimonial-author {
        width: 100%;
    }
    .testimonial-content {
        border: $chainges-border;
        padding: $page-margin / 2 $page-margin / 2 $page-margin;
        margin-bottom: $page-margin;
        position: relative;
        transition: all 0.3s ease-in-out;
        .testimonial-description {
            @include fontMediumSmallMiddle;
            @include mediaMobile {
                padding-bottom: calc(#{$testimonial-img-height} / 2);
            }
        }
        .testimonial-image {
            @include centerXY;
            top: 100%;
            border-radius: 50%;
            background: linear-gradient(top, #fff 0%, #fff 50%, $gray 50%, $gray 100%);
            .testimonial-image-border {
                background: #fff;
                margin: 1px;
                border-radius: 50%;
                float: left;
                width: 72px;
                height: 72px;
            }
            img {
                border-radius: 50%;
                float: left;
                min-height: 100%;
                width: 100%;
                border: 8px solid white;
            }
        }
    }

    .testimonial-author {
        @include mediaMobile {
            padding-top: calc(#{$testimonial-img-height} / 4);
        }
        .testimonial-name {
            @include fontMediumSmall;
        }
        .testimonial-info {

        }

    }

}