$max-width: 1440px;
$page-margin: 6.66vw;
$page-margin-container: 6.66%;
$header-height: 50px;
$header-height-mobile: 40px;
$body-offset: 50px;
$column-width: 25%;
$column-gap: 1vw;
$column-gap-mobile: 2.25vw;
$button-radius: 4px;
$burger-line: 2px;
$button-padding: .7em;
$menu-height-mobile: $header-height-mobile + $header-height / 2;
$testimonial-img-height: 64px;
$chevron-width: 10px;

$navy: #09043C;
$purple: #07033A;
$gray: #DBDBDB;
$blue: #21A1EE;
$pink-hover: #CE1FAD;
$purpleLight: #24064E;
$separatorColor: rgba(#fff, .3);
$chainges-border: 1px solid $gray;
$gradientNavy: linear-gradient(45deg, #1E1397 0%, #6C0757 100%);
$gradientBlueLight: linear-gradient(270deg, #1A7EDE 0%, #28C8FF 100%);
$purple_alpha: rgba($purple, .9);
$gradientPink: linear-gradient(270deg, #B330C9 0%, #E61099 100%);
