$defaultFont: futura-pt, sans-serif;

$font-size-large: 64px;
$font-size-large-mobile: 38px;
$font-size-big: 48px;
$font-size-big-small: 32px;
$font-size-medium: 24px;
$font-size-medium-small: 20px;
$font-size-regular-bigger: 18px;
$font-size-regular: 16px;

$line-height-small: 24px;
$line-height-medium-small: 30px;
$line-height-medium: 40px;
$line-height-big: 56px;
$line-height-large: 72px;
$line-height-large-mobile: 46px;
$line-height-medium-mobile: 28px;

$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;

@mixin fontBig {
	font-size: $font-size-big;
	font-weight: $font-weight-bold;
	line-height: $line-height-big;
	@include fontUppercase;

	@include mediaMobile {
		font-size: $font-size-big-small;
		line-height: $line-height-medium;
	}
}
@mixin fontRegularBigger {
	font-size: $font-size-regular-bigger;
	font-weight: $font-weight-medium;
}

@mixin fontRegularInput {
	font-size: $font-size-regular-bigger;
	font-weight: $font-weight-light;
	line-height: $line-height-small;
}
@mixin fontRegularBiggerUppercase {
	font-size: $font-size-regular-bigger;
	font-weight: $font-weight-medium;
	line-height: $line-height-small;
	@include fontUppercase;
}

@mixin fontUppercase {
	text-transform: uppercase;
}

@mixin fontWhite {
	color: #fff;
	-webkit-font-smoothing: antialiased;
}

@mixin fontRegular {
	font-size: $font-size-regular;
	line-height: $line-height-small;
	font-weight: $font-weight-light;

	@include mediaMobile {
		font-size: calc(.9 * #{$font-size-regular});
	}
}

@mixin fontMediumSmallBold {
	font-size: $font-size-medium-small;
	font-weight: $font-weight-bold;
	@include fontUppercase;
}

@mixin fontMediumSmallMiddle {
	font-size: $font-size-medium-small;
	line-height: $line-height-medium-mobile;
}

@mixin fontMediumSmall {
	font-size: $font-size-medium-small;
	line-height: $line-height-small;
	font-weight: $font-weight-medium;
}

@mixin fontMedium($color: $navy) {
	font-size: $font-size-medium;
	line-height: $line-height-medium;
	font-weight: $font-weight-light;
	@if $color != $navy {
		font-weight: $font-weight-medium;
	}
	@include mediaMobile {
		font-size: $font-size-medium-small;
		line-height: $line-height-medium-mobile;
	}
}

@mixin fontMediumBold {
	font-size: $font-size-medium;
	line-height: $line-height-medium-small;
	font-weight: $font-weight-bold;
	@include fontUppercase;
}

@mixin fontLarge {
	font-size: $font-size-large;
	font-weight: $font-weight-bold;
	line-height: $line-height-large;
	@include mediaMobile {
		font-size: $font-size-large-mobile;
		line-height: $line-height-large-mobile;
	}
}

body {
	font-family: $defaultFont;
	color: $navy;
	@include fontRegular;
}

::selection {
    // color: black;
    // background: #f0a;
}