{% macro link( text, link ) %}

    {% import "macros/icon.twig" as Icon %}
    <a class="tile-link link-arrow" href="{{link}}" target="_blank">
        {{ text }}
        {{ Icon.icon( 'arrow-right', 16, 16 ) }}
    </a>

{% endmacro %}
