$woocommerce-th-padding: 11px;

.woocommerce-cart {

	.woocommerce {

		table.shop_table_responsive tr:nth-child(2n) td,
		.woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
			background-color: transparent;
		}

		@include mediaTablet {
			table.shop_table_responsive tr td,
			.woocommerce-page table.shop_table_responsive tr td {
				&:before {
					font-weight: $font-weight-light;
				}
			}
		}

		.wc-proceed-to-checkout {
			a {
				&.checkout-button {
            		padding: 1em 0;
            	}
            }
        }           

		display: flex;
	    justify-content: space-between;
		z-index: 1;
		width: calc(100% -  2 * #{$page-margin} );
		flex-wrap: wrap;
	    @include fontMediumSmall;
	    @include mediaTablet {
    	    flex-direction: column;
    	    margin-bottom: calc(.5 * #{$page-margin} );
	    }

	    .shop_table_responsive {
	    	th {
	    		@include fontMediumSmall;
	    	}
	    }

	    .woocommerce-message {
	    	display: none;
	    }

	    .quantity {
	    	.qty {
	    		font-family: $defaultFont;
	    		@include fontMediumSmall;
	    		border: $chainges-border;
	    		border-radius: $button-radius;
	    		width: 100%;
	    	}
	    }

	    .wcppec-checkout-buttons {
            display: none;
        }

	   .cart-collaterals, .woocommerce-cart-form {
	   		position: relative;
			@include fontMediumSmall;
			@include mediaTablet {
	    	    .cart_item {
	    	    	margin-bottom: calc(#{$column-gap-mobile} * 2);
	    	    	border-left-color: transparent;
	    	    	border-right-color: transparent;
	    	    	display: flex;
    				flex-direction: column;
    				border-top-color: transparent;
    				.product-remove {
    					order: 100;
					    border-top: $chainges-border;
    				}
	    	    	td {
	    	    		padding: calc(#{$column-gap-mobile} * 1) calc(#{$column-gap-mobile} * 4);
	    	    		&:before {
		    	    		color: $purple;
	    					opacity: .5;
	    					font-weight: $font-weight-light;
		    	    	}
	    	    	}
	    	    }
		    }
	   }

	    .cart-collaterals {
	    	width: calc(25% - #{$column-gap})!important;
			float: right;
			@include mediaTablet {
	    	    width: 100%!important;
	    	    margin-top: 0;
		    }
			.shop_table {
				border-radius: 0!important;
			}
			h2 {
				color: white;
				z-index: 10;
	    		position: relative;
	    		line-height: calc(#{$font-size-medium-small} + 2 * #{$woocommerce-th-padding});
	    		padding: 0 $column-gap;
			    white-space: nowrap;
		    	height: calc(#{$font-size-medium-small} + 2 * #{$woocommerce-th-padding});
		    	background: rgba($navy, .6);
		    	@include mediaTablet {
		    	    padding: 0 calc(4 * #{$column-gap-mobile});
			    }
			}
			.cart_totals {
				width: 100%!important;
				float: none;
				position: relative;
				display: flex;
			    flex-direction: column;
			    justify-content: flex-start;
			    height: 100%;
			    .wc-proceed-to-checkout {
			    	margin-top: $column-gap;
				    @include mediaMobile {
			    	    margin-top: $column-gap-mobile;
				    }
			    }
				th {
					line-height: 1!important;
				}
				td {
					@include mediaTablet {
						color: $purple;
						font-weight: $font-weight-light;
						padding: calc(#{$column-gap-mobile} * 1) calc(#{$column-gap-mobile} * 4);
						&:before {
							opacity: .5;
						}
					}
				}
				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: calc(#{$font-size-medium-small} + 2 * #{$woocommerce-th-padding});
					background: $gradientNavy;
				}

			}
	    }

	    .woocommerce-cart-form {
			width: calc(75% - #{$column-gap});
			float: left;
			@include mediaTablet {
	    	    width: 100%;
		    }

			.coupon {
				float: right!important;
				@include mediaTablet {
					float: none!important;
					order: 100;
					margin-top: calc(2 * #{$column-gap-mobile});
				}
				.input-text {
					font-family: $defaultFont;
					border: $chainges-border!important;
					border-radius: $button-radius;
					margin: 0!important;
					width: auto!important;
				    padding: 7.5px 5px!important;
					transform: translateX(5px);
					font-size: $font-size-regular-bigger!important;
				}
			}

			[name=update_cart] {
				float: left!important;
			}

			.woocommerce-cart-form__contents {
				position: relative;
    			z-index: 10;
				tbody {
					tr {
						&:last-child {
							border: none;
						    @include mediaTablet {
						    	width: 100%;
						    }
						}
					}
				}
			}

			thead {

				@include purple-gradient;
				color: white;

				&:after {
					height: calc(#{$font-size-medium-small} + 2 * #{$woocommerce-th-padding});
				}

			}

			tr {
				border: $chainges-border;
			}

			th {
				position: relative;
				z-index: 10;
			}

			table {

				border: none!important;

				&.shop_table {
					@include mediaTablet {
						margin-bottom: calc(2 * #{$column-gap-mobile});
					}
					th {
						font-weight: $font-weight-light;
					}
					td {
						border: $chainges-border;
						border-bottom-color: transparent;
					}
					tr {
						&:nth-last-child(2) {
							td {
								border-bottom: $chainges-border;
								@include mediaTablet {
									border: $chainges-border;
    								border-bottom-color: transparent;
								}
							}
						}
						&:last-child {
							td {
								border-top-color: transparent;
								border-left-color: transparent;
								border-right-color: transparent;
								padding: calc(2 * #{$column-gap}) 0;
								@include mediaTablet {
									display: flex;
									flex-direction: column;
								}
							}
						}
					}
				}

			}

			a {
				&.remove {
					color: $navy!important;
					opacity: .5;
					font-weight: $font-weight-light;
					&:hover {
	    				background: $pink-hover;
	    				@include mediaTablet {
	    					border-radius: 0;
	    				}
					}
					@include mediaTablet {
						position: relative;
						width: 100%;
						text-align: left;
					    padding-left: 2em;
						&:before {
							content: "Click to delete";
							@include centerXY;
							font-size: $font-size-medium-small;
						}
					}
				}

			}

			.product-thumbnail {
				display: none;
			}

		}

	}


}
