.woocommerce {

    .woocommerce-error {
        float: left;
        width: 100%;
        margin: 1em 0;
        background: transparent;
        color: $navy;
    }

    .checkout_coupon,
    .woocommerce-info {
        width: calc(75% - #{$column-gap});
        float: left;
        @include mediaTablet {
            width: 100%;
        }
    }

    .woocommerce-info {
        padding: 0;
        margin: 0;
        position: relative;
        background-color: transparent;
        color: $navy!important;
        border-top: none;
        font-family: $defaultFont;
        @include fontMediumSmallMiddle;
        font-weight: $font-weight-light;
        a {
            color: $blue;
            text-decoration: underline;
        }
        &:before {
            content: none;
        }
    }

    form.checkout_coupon {
        border: none!important;
        padding: 0!important;
        margin: $column-gap 0 0 0!important;
        p {
            @include fontMediumSmallMiddle;
            font-weight: $font-weight-light;
        }
        .form-row.form-row-first,
        .form-row.form-row-last {
            padding: 0;
            margin: $column-gap 0 0 0;
            width: auto;
            float: left;
        }

        .form-row {
            input {
		        font-family: $defaultFont;
				border: $chainges-border!important;
				border-radius: $button-radius;
				margin: 0!important;
				width: auto!important;
				transform: translateX(5px);
				font-size: $font-size-regular-bigger!important;
            }
            .input-text {
                padding: 7.5px 5px!important;
            }
        }
    }
    form.checkout {
        margin: calc(#{$page-margin} / 2) 0;
        float: left;
        width: 100%;
        .col2-set {
            width: calc(75% - #{$column-gap});
            float: left;
            .col-1,
            .col-2 {
                width: 100%;
            }
            @include mediaTablet {
                width: 100%;
                margin-bottom: calc(#{$page-margin} / 2);
            }
        }
        .woocommerce-billing-fields > h3,
        .woocommerce-additional-fields > h3 {
            display: none;
        }
        .wc_payment_methods {
            @include fontMediumSmallMiddle;
            line-height: 1.2;
        }
        .form-row {
            padding: 0!important;
            margin: 0 0 $column-gap 0;
            &.place-order {
                margin-top: $column-gap;
                @include mediaMobile {
                    margin-top: $column-gap-mobile;
                }
            }
            label {
                @include fontRegular;
                padding: .5em 0;
            }
            input,
            textarea {
                border: $chainges-border;
                border-radius: $button-radius;
                padding: 10px 20px;
                @include fontRegularInput;
                font-family: $defaultFont;
                color: $navy;

                @include mediaTablet {
                    padding: 10px;
                }
            }

            textarea {
                resize: none;
                height: 132px;
            }
        }

        .form-row-first,
        .form-row-last {
            width: calc(50% - #{$column-gap});
            @include mediaTablet {
                width: 100%;
            }
        }

        table.shop_table {
            border-top: none;
            border-color: $gray;
            border-radius: 0;
            thead {
                display: none;
            }
            td,
            tfoot th {
                border-top: $chainges-border
            }
            .cart_item {
                color: rgba($navy, .5);
                @include fontRegular;
                font-weight: $font-weight-medium!important;

                .product-name {
                    padding: 1.2em 0 1.2em $column-gap;
                    @include mediaTablet {
                        padding: 1.2em 0 1.2em $column-gap-mobile;
                    }
                }
                .product-total {
                    padding: 1.2em $column-gap 1.2em 0;
                    text-align: right;
                    @include mediaTablet {
                        padding: 1.2em $column-gap-mobile 1.2em 0;
                    }
                }
            }
            .cart-subtotal,
            .order-total,
            .tax-rate {
                color: $navy;
                @include fontRegular;

                th {
                    padding: 1.2em 0 1.2em $column-gap;
                    font-weight: $font-weight-medium!important;
                    @include mediaTablet {
                        padding: 1.2em 0 1.2em $column-gap-mobile;
                    }
                }
                td {
                    padding: 1.2em $column-gap 1.2em 0;
                    text-align: right;
                    font-weight: $font-weight-medium!important;
                    @include mediaTablet {
                        padding: 1.2em $column-gap-mobile 1.2em 0;
                    }
                }
            }

        }
    }

    #order_review_heading,
    .woocommerce-checkout-review-order {
        width: calc(25% - #{$column-gap})!important;
        float: right;
        @include mediaTablet {
            width: 100%!important;
        }
    }

    #order_review_heading {
        @include fontWhite;
        z-index: 10;
        position: relative;
        line-height: calc(#{$font-size-medium-small} + 2 * #{$woocommerce-th-padding});
        padding: 0 $column-gap;
        white-space: nowrap;
        height: calc(#{$font-size-medium-small} + 2 * #{$woocommerce-th-padding});
        background: rgba($navy, .6);
        min-height: 60px;
        display: flex;
        align-items: center;
        font-family: $defaultFont;
        @include fontMediumSmallMiddle;
        font-weight: $font-weight-light;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: calc(#{$font-size-medium-small} + 2 * #{$woocommerce-th-padding});
            background: $gradientNavy;
            z-index: -1;
            height: 100%;
        }
        @include mediaTablet {
            padding: 0 $column-gap-mobile;
        }
    }

    .select2-container--default {
        .select2-selection--single {
            border: $chainges-border!important;
            border-radius: $button-radius!important;
            height: 43px!important;
            outline: none!important;
            .select2-selection__rendered {
                color: $navy!important;
                font-size: $font-size-regular-bigger;
                font-weight: $font-weight-light;
                line-height: $line-height-small;
                padding: 10px 20px!important;
                outline: none!important;
                @include mediaTablet {
                    padding: 10px!important;
                }
            }
            .select2-selection__arrow {
                top: 9px;
            }
        }
    }

    .woocommerce-checkout #payment {
        background: transparent!important;
        border-radius: 0!important;

        ul.payment_methods {
            border: $chainges-border!important;
            li {
                margin-top: 1em;
                &:first-of-type {
                    margin-top: 0;
                }
            }
            .payment_method_bbpay_payment_gateway img {
                max-width: 100px;
            }
        }

        div.payment_box {
            background: transparent;
            color: rgba($navy, .5);
            padding: 0;
            margin: 0;
            float: left;
            width: 100%;
            font-size: $font-size-regular;
            &:before {
                content: none;
            }
        }
    }

    #place_order {
        width: 100%!important;
        padding: 1.2em 1em!important;
    }

}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
    background: $gradientBlueLight!important;
}
.select2-results__option[aria-selected],
.select2-results__option[data-selected] {
    outline: none!important;
}