.woocommerce {
    ul.order_details {
        margin: $column-gap*2 0!important;

        @include mediaTablet {
            li {
                width: 100%;
                margin-bottom: $column-gap-mobile;
            }
        }
        @include mediaMobile {
            margin: $column-gap-mobile*2 0!important;
        }
    }

    .woocommerce-order-details__title,
    .woocommerce-column__title {
        margin-bottom: $column-gap * 2;
        @include mediaMobile {
            margin: $column-gap-mobile*2 0;
        }
    }

    .woocommerce-order-details {
        width: calc(50% - #{$column-gap});
        float: left;
        @include mediaTablet {
            width: 100%;
        }
    }
    .woocommerce-customer-details {
        width: calc(50% - #{$column-gap});
        float: right;
        @include mediaTablet {
            width: 100%;
        }
    }
}