.woocommerce:not(body) {
    margin: calc(#{$page-margin} / 2) auto;
    z-index: 1;
    width: calc(100% -  #{2* $page-margin} );
    @include fontMediumSmall;

    a, button, input {

        &.button {
            color: white!important;
            min-width: 120px;
            background: $gradientBlueLight!important;
            border-radius: $button-radius;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $defaultFont;
            font-size: $font-size-regular-bigger!important;
            font-weight: $font-weight-medium!important;

            &[name=apply_coupon] {
                background: $gradientPink!important;
            }

            &.checkout-button {
                font-size: $font-size-medium!important;
                font-weight: $font-weight-medium!important;
            }

            @include mediaMobile {
                border-radius: $button-radius * 2;
                width: 100%;
            }
        }
    }
}

.woocommerce a.button.more {
    color: $pink-hover;
    font-family: $defaultFont;
    @include fontRegular;
    padding: 0;
    &, &:hover {
        background: none;
    }
}

.woocommerce-form__label-for-checkbox {
    a {
        color: $pink-hover;
    }
}

