<section class="about chainges-section chainges-section-padding">
    <div class="content">
        <div class="col col-2-4">
            <div class="img-mist" style="background-image: url( {{ landing_content.about_image }} )">
                <div class="img-mist-inner" style="background-image: url( {{ landing_content.about_image }} )"></div>
            </div>
        </div>
        <div class="col col-2-4">
            <h2 class="chainges-section-title">
                {{ landing_content.about_header }}
            </h2>
            <p class="about-description">
                {{ landing_content.about_description }}
            </p>
        </div>

    </div>
    <div class="bubbles bubbles-1">
		<div class="bubble big"></div>
		<div class="bubble small"></div>
	</div>
</section>