<section class="landing chainges-section video-player" style="background-image: url( {{ landing_content.landing_image }} )">
	<video class="video">
		<source src="{{ img_dir }}/chainges_amsterdam.mp4" type="video/mp4">
    </video>
    <div class="content">
    	<div class="content-inner">
	    	<div class="col col-4-4">
		    	<p class="event-details">{{ landing_content.event_details }}</p>
		    	<h1 class="page-title">{{ landing_content.chainges_motto }}</h1>
		    </div>
	    	<nav class="col col-1-4">
	    		{% include "partials/menus/menu-buy.twig" %}
	    	</nav>
	    	<a class="col col-1-4 play-button" href="#" title="play-video">
	    		<span class="play-video">Play video</span>
	    	</a>
	    </div>
	</div>
</section>
