{% import "macros/link-arrow.twig" as LinkArrow %}

<section class="links chainges-section">
    <div class="full-content">
        <div class="link-tiles">
            {% for tile in landing_content.link_tiles %}
            <div class="col col-1-4 link-tile">
                <h3 class="link-tile-title">
                    {{ tile.link_tile_title }}
                </h3>
                <p class="tile-description">
                    {{ tile.link_tile_description }}
                </p>
                {% if tile.link_tile_link %}
                {{ LinkArrow.link( 'Find out more', tile.link_tile_link ) }}
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>