<section class="partners chainges-section chainges-section-padding">

    <div class="content">

        <div class="col col-2-4">
            <h2 class="chainges-section-title six-tiles-title">
                {{ landing_content.partners_section_title }}
            </h2>
        </div>

        <div class="col col-2-4">
            <p class="chainges-section-description six-tiles-description">
                {{ landing_content.partners_section_description }}
            </p>
        </div>

        <div class="partners-logos">
            {% for partner in partners_posts %}
                <div class="partner-link col col-1-6">
                {# <a href="{{ partner.link }}" class="partner-link col col-1-6"> #}
                    {% if partner.thumbnail %}
                        <img src="{{partner.get_thumbnail.src('medium_large')}}" alt="{{partner.title}}" class="partner-logo" />
                    {% endif %}
                {# </a> #}
                </div>
            {% endfor %}
        </div>

	</div>
    <div class="bubbles bubbles-2">
		<div class="bubble big"></div>
		<div class="bubble small"></div>
	</div>
</section>
