<section class="six-reasons chainges-section chainges-section-padding">

    <div class="content">

        <div class="col col-2-4">
            <h2 class="chainges-section-title six-tiles-title">
                {{ landing_content.offer_tiles_header }}
            </h2>
        </div>

        <div class="col col-2-4 clear">
            <p class="chainges-section-description six-tiles-description left-site">
                {{ landing_content.offer_tiles_description }}
            </p>
        </div>

        <div class="six-reasons-tiles">
            {% for tile in landing_content.offer_tiles %}
            <div class="six-reasons-tile col col-1-6">
                <img src="{{tile.offer_tile_image}}" alt="{{tile.offer_tile_title}}" class="six-reasons-image" />
                <h3 class="six-reasons-tile-title">
                    {{ tile.offer_tile_title }}
                </h3>
                {% if tile.offer_tile_link %}
                <a class="six-reasons-tile-link" href="{{tile.offer_tile_link}}">Find out more</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>

	</div>
    <div class="bubbles bubbles-3">
		<div class="bubble big"></div>
		<div class="bubble small"></div>
	</div>
</section>
