<section class="speakers chainges-section chainges-section-padding">
    <div class="content">
        <div class="col col-4-4">
            <h2 class="chainges-section-title col-2-4 col-center">
                {{ landing_content.speakers_section_title }}
            </h2>
        </div>
        <div class="speakers-list">
            {% for speaker in speakers %}
                <div class="col col-1-4">
                    {# <a class="speaker-tile" href="{{ speaker.link }}"> #}
                    <div class="speaker-tile">
                        <div class="speaker-image" style="background-image: url({{ speaker.thumbnail }})"></div>
                        <h4 class="speaker-name">{{ speaker.title }}</h4>
                        <p class="speaker-info">{{ speaker.speaker_job_position }} 
                        {% if speaker.speaker_job_position and speaker.speaker_company %}
                            , 
                        {% endif %}
                        {% if speaker.speaker_company%}
                            {{ speaker.speaker_company }} 
                        {% endif %}
                        {% if speaker.speaker_country %}
                            ({{ speaker.speaker_country }})
                        {% endif %}
                        </p>
                        {# <a href="{{ speaker.speaker_facebook }}">Fb</a>
                        <a href="{{ speaker.speaker_linkedin }}">In</a>
                        <a href="{{ speaker.speaker_twitter }}">Tw</a> #}
                    {# </a> #}
                    </div>
                </div>
            {% endfor %}
        </div>

	</div>
</section>
