<section class="testimonials chainges-section">
    <div class="content">
        <div class="col col-4-4">
            <h2 class="chainges-section-title col-2-4 col-center">
                {{ landing_content.testimonials_section_title }}
            </h2>
        </div>
	</div>
    <div class="full-content">
        <div class="swiper-container testimonials-slider">
            <div class="swiper-wrapper">
                {% for testimonial in testimonials %}
                    <div class="swiper-slide">
                        <div class="slide-content">
                            <div class="testimonial-content">
                                <p class="testimonial-description"> {{ testimonial.post_content }} </p>
                                <div class="testimonial-image">
                                    <div class="testimonial-image-border">
                                        <img src="{{ testimonial.thumbnail }}">
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-author">
                                <h3 class="testimonial-name"> {{ testimonial.title }} </h3>
                                <p class="testimonial-info">{{ testimonial.testimonial_job_position }}
                                    {% if testimonial.testimonial_company %}
                                    , {{ testimonial.testimonial_company }}
                                    {% endif %}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
	</div>
    <div class="content">
        <div class="col col-4-4">
            <div class="chainges-section-description col-2-4-wider col-center">
                {{ landing_content.testimonials_section_summary }}
            </div>
            <nav class="col-1-4 col-center testimonials-button">
                {% include "partials/menus/menu-buy.twig" %}
            </nav>
        </div>

	</div>
</section>
