.content {
    z-index: 2;
    margin: 0 auto;
    width: calc(100% -  #{2* $page-margin} );
    @include clearfix;
}

.full-content {
    z-index: 2;
    margin: 0 auto;
    width: 100%;
    @include clearfix;
}

.col {
    width: 100%;
    padding-left: $column-gap;
    padding-right: $column-gap;
    float: left;
    @include mediaMobile {
        width: 100%;
    }
}

.col-center {
    margin: 0 auto;
    text-align: center;
}

.col-4-4 {
    width: 100%;
}

.col-3-4 {
    width: 75%;
}

.col-2-4 {
    width: 50%;
    @include mediaMobile {
        width: 100%;
    }
}

.col-2-4-wider {
    width: calc( 50% + #{$column-gap * 4});
    padding-left: 0;
    padding-right: 0;
    @include mediaMobile {
        width: 100%;
    }
}

.col-1-4 {
    width: 25%;
    @include mediaTablet {
        width: 50%;
    }
    @include mediaMobile {
        width: 100%;
    }
}

.col-1-6 {
    width: calc(100%/6);
    @include mediaTablet {
        width: 25%;
    }
    @include mediaMobile {
        width: 50%;
    }
}

.col-1-3 {
    width: calc(100%/3);
    @include mediaTablet {
        width: 100%;
    }
}
