@mixin purple-apla {
	background-color: $purple;
	opacity: .8;
}

@keyframes slide-out {
	to {
		min-width: calc(#{$column-width} + #{$column-gap});
	}
}

@mixin image-cover {
	background-position: 50% 50%;
	background-repeat: no-repeat;
    background-size: cover;
}

@mixin box-shadow( $color ) {
	box-shadow: 0 16px 40px 0 $color;
}

@mixin purple-gradient {
	background: $gradientNavy;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: .6;
		background-color: $purple;
	}
}