body {
	overflow-x: hidden;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.clear {
	clear: both;
}

.video-playing {
	.landing .content .content-inner {
		transform: translateX(-100%);
	}
	.bubbles.bubbles-1 {
		transform: translate(150%, 0%);
	}
}