.chainges-section {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	position: relative;
}

.chainges-section-padding {
	padding-top: $page-margin * 1.5;
	padding-bottom: $page-margin * 1.5;
}

.chainges-section-title {
    @include fontBig;
}

.chainges-medium-title {
    @include fontMediumBold;
}

.chainges-section-description {
	@include fontMedium;
	margin-left: $page-margin;
    @include mediaMobile {
        margin: 0;
    }
    &.left-site {
    	margin-left: 0;
    }
}
