<section id="cookies" class="cookies chainges-section" style="display:none">

	<div class="content">

	    <p class="col col-4-4">{{ cookies_description_before_link }}
	    	<a class="more button" href="{{cookies_link}}">{{cookies_link_label}}</a>
	    	{{ cookies_description_after_link }}  <a class="accept btn">{{cookies_button}}</a>
	    </p>
	    
	   

	</div>

</section>
