{% block html_head_container %}

	{% include 'header.twig' %}

{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

		{% block header %}{% endblock %}
		{% block intro %}{% endblock %}

		{% block content %}
			Sorry, no content
		{% endblock %}


		{% block footer %}
			{% include "footer.twig" %}
			{% include "partials/cookies.twig" %}
		{% endblock %}

		{{ function('wp_footer') }}

	</body>
</html>
