{% import "macros/icon.twig" as Icon %}
<footer class="footer chainges-section chainges-section-padding">

	<div class="content">

        <div class="col col-1-4">
            {% include "partials/logo.twig" %}
            <p class="conference-info">
            	{{ footer_conf_description }}
            </p>

            {% if footer_socials %}

            	<ul class="social-list">

           		{% for social in footer_socials %}

            		<li class="social">
            			<a class="social-link" href="{{social.footer_social_link}}">
            				<img src="{{social.footer_social_image}}" alt="{{social.footer_social_name}}" class="social-image" />
            			</a>
            		</li>

            	{% endfor %}

            	</ul>

        	{% endif %}

        	<p class="contact-info">
        		Get in touch: <a href="mailto:{{ footer_contact }}" class="contact-email">{{ footer_contact }}</a>
        	</p>

        </div>

        <div class="col col-1-4">
        	{% include "partials/menus/menu-pages.twig" %}
            {% include "partials/menus/menu-footer.twig" %}
        </div>

        <div class="col col-4-4 clear">
        	<div class="copyrights-footer">
        		<p class="right-reserved">Copyright © {{ now|date('Y') }}. All rights reserved. </p>
        		<a href="https://spoko.io" class="designed">Designed by <div class="heart">{{ Icon.icon( 'heart', 1850, 1850 ) }}</div> Spoko</a>
       		</div>
        </div>


	</div>

</footer>


