{% extends "base.twig" %}

{% block header %}

	 {% include "partials/headers/header-main.twig" %}

{% endblock %}

{% block content %}

	{% include "partials/front-page/landing.twig" %}
	{% include "partials/front-page/about.twig" %}
	{% include "partials/front-page/links.twig" %}
	{% include "partials/front-page/partners.twig" %}
	{% include "partials/front-page/speakers.twig" %}
	{% include "partials/front-page/six_reasons.twig" %}
	{% include "partials/front-page/testimonials.twig" %}
	
{% endblock %}
