<!doctype html>
<html lang="">
    <head>
        <meta charset="{{site.charset}}" />
            <title>
                {% if wp_title %}
                    {{ wp_title }} - {{ site.name }}
                {% else %}
                    {{ site.name }}
                {% endif %}
            </title>
        <meta name="description" content="{{site.description}}">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/gif" href="{{ theme.link }}/favicon.png">
        <link rel="stylesheet" href="https://use.typekit.net/amm0bxs.css">
        {%  if constant('GA') is defined and constant('GA') %}
		    {% include "partials/analytics/GA.twig" %}
		{% endif %}
        {{ function('wp_head') }}

    </head>