{% extends "base.twig" %}

{% block header %}

	 {% include "partials/headers/header-main.twig" %}

{% endblock %}

{% block intro %}

	<div class="intro" style="background-image: url( {{ landing_content.landing_image }} )"></div>

{% endblock %}

{% block content %}

	<section class="chainges-section chainges-section-padding">

	    <div class="content">

	        <div class="col col-4-4">

		        <h1 class="single-page-title chainges-medium-title">{{ post.title }}</h1>

		        <p class="page-description">{{ post.post_content }}</p>
	    
	    	</div>

	    </div>

	</section>
	
{% endblock %}
