{% extends "base.twig" %}

{% block header %}

	 {% include "partials/headers/header-main.twig" %}

{% endblock %}

{% block intro %}

	<div class="intro" style="background-image: url( {{ landing_content.landing_image }} )"></div>

{% endblock %}

{% block content %}
<section class="breadcrumbs chainges-section">
    <div class="content">
        <h3 class="chainges-medium-title">{{ post.title }}</h3>
    </div>
</section>
	{{ function('do_shortcode', post.post_content) }}

{% endblock %}
