{% extends "base.twig" %}

{% block header %}
    {% include "partials/headers/header-main.twig" %}
{% endblock %}

{% block content %}

    {% include "partials/tiles.twig" with {'tiles': posts} %}

{% endblock %}
