<ul class="menu menu-buttons">
    {% for item in menu2.get_items %}
     	<li class="nav-menu__item{{item.classes | join(' ')}}"><a class="nav-main-link btn" href="{{item.link}}">{{item.title}}</a></li>
   {% endfor %}
</ul>
