<ul class="menu menu-footer">

    <li class="nav-menu__item">

      <a class="nav-main-link" href="/privacy-policy">Privacy Policy</a>

    </li>

    <li class="nav-menu__item">

      <a class="nav-main-link" download href="{{ img_dir }}/Terms_and_Conditions_-_Chainges.pdf">Terms and Conditions</a>

    </li>

</ul>
