<nav class="menu-main">
    <div class="burger">Menu <div class="burger-icon"><span></span></div> </div>
    {% include "partials/menus/menu-pages.twig" %}
    {% include "partials/menus/menu-buy.twig" %}
</nav>
