{# {% do action('woocommerce_before_main_content') %} #}
<section class="breadcrumbs chainges-section">
    <div class="content">
        <h3 class="chainges-medium-title">
            Book your ticket now!
        </h3>
    </div>
</section>
<section class="products chainges-section chainges-section-padding">
    <div class="content">
        <div class="products-list">
            {% for post in products %}
                {% include "partials/woocommerce/tease-product.twig" %}
            {% endfor %}
        </div>
    </div>
</section>

{% do action('woocommerce_after_shop_loop') %}
{% do action('woocommerce_after_main_content') %}
