<article {{ fn('post_class', ['$classes', 'entry', 'col', 'col-1-3', 'product'] ) }} toggle="container">

    {{ fn('timber_set_product', post) }}
    {% if loop.index == 2 %}
    <div class="product-flag">Most popular</div>
    {% endif %}
    <div class="product-content">
        <div class="ticket-type">
            <h3 class="chainges-medium-title">
                {# <a href="{{ post.link }}">#}
                    {{ post.title }}
                {# </a> #}
            </h3>
            <div class="price">
                {{ currency}}
                {{ post._price }}
            </div>
            <div class="ticket-description">
                {{ post.post_content|wpautop }}
            </div>
            {# {% do action( 'woocommerce_after_shop_loop_item' ) %} #}
            <a href="/sklep/?add-to-cart={{post.id}}" class="btn product_type_simple add_to_cart_button ajax_add_to_cart" data-quantity="1" data-product_id="{{post.id}}" data-product_sku="{{post.sku}}" >
                Buy now
            </a>
        </div>
        <div class="benefits" toggle="show">Benefits</div>
    </div>
    <div class="benefits-content">
        <div class="content-inner">
        {{ post.post_excerpt|wpautop }}
        </div>
    </div>
</article>